@model IEnumerable<AlexWilkinson.Models.Blog>

@using Microsoft.AspNetCore.Identity
@using AlexWilkinson.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create"><i class="fa fa-pencil"></i> Create a Post</a>
    </p>
}

@foreach (var item in Model)
{

    var contentBlurb = item.Body;
    var subLen = 200;
    if(contentBlurb.Length > subLen)
    {
        contentBlurb = contentBlurb.Substring(0, subLen);
    }

    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.DisplayFor(modelItem => item.Title)
        </div>
        <div class="panel-body">
            @Html.DisplayFor(modelItem => contentBlurb)

        </div>

        @if (SignInManager.IsSignedIn(User))
        {
            <div class="panel-footer">
               <a asp-action="Edit" asp-route-id="@item.ID"> Edit</a> | 
               <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </div>
        }

    </div>

}



