body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgb(41, 41, 41);

}
text {
    color: lightslategrey;
}
p {
    color: lightslategrey;
}
/*Navbar styling*/
.navbar-inverse {
    margin-top: 50px;
    background-color: transparent;
    border: 0px;
    margin-bottom: 20px;
}
ul.nav a {
    text-decoration: none;
    background-color: transparent !important;
    color: ##778899 !important;
    font-size: 15px;
}

ul.nav a:hover {
    color: #526D87 !important;
    border-width: 0px;
    border-style: solid;
    background-color: transparent;
    font-size: 13pt;
}
#homepage-main-text{
    margin-top: 200px;
    padding-left: 20px;
    display: block;
    width: 40%;
    color: rgb(153, 154, 156);
}
.navbar-brand{
    
}
#homepage-main-text h1 {
    font-family: 'Ruda', sans-serif;
    font-size: 40px;
}
#homepage-main-text h3 {
    font-family: 'Titillium Web', sans-serif;
}
/*Pushing things away from the nav*/
h2 {
    margin-top: 40px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;


}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

footer {
    margin: auto;
    width: 100%;
    position: absolute;
    bottom:0;
}
footer a {
        color: lightslategrey;
        text-decoration: none;
}
footer a:hover, a:focus{
    text-decoration: none;
}
#footer-social-media{
    padding-bottom: 10px;
}
footer p{

    color: lightslategrey;
}

#pagination-total-count{
    float: left;
    margin-left: 30px;
}